.container {
    box-sizing: border-box;
    margin: auto;
    padding: 2em 1em 2em 1em;
    width: 100%;
    overflow-wrap: break-word;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.panel {
    max-width: 960px;
    margin: auto;
}

#about .panel {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panel div.fixed {
    max-width: 600px;
    box-sizing: border-box;
}

.portrait {
    max-width: 300px;
    max-height: 300px;
    box-sizing: border-box;
}

.panel ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin: 0.5em 1em 1em 1em;
}

.panel li:before {
    display: inline-block;
    background-image: url("../assets/images/list-style-image.png");
    background-size: 0.7em 0.7em;
    width: 0.7em;
    height: 0.7em;
    content: "";
    margin-right: 0.5em;
}

.container hr {
    border-style: none;
    margin: 1em 0px 1em 0px;
}

.container hr:after {
    display: block;
    background: url("../assets/images/custom-hr.png");
    background-repeat: round;
    background-size: contain;
    width: inherit;
    height: 1em;
    content: "";
}

footer.panel span {
    display: flex;
    justify-content: center; 
    text-align: center;
}