body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}

#profile-picture {
    margin: 0 auto;
}

section, footer {
    padding: 8px;
}

.container > section {
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
}

footer > a {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100%;
}

h1, h2 {
    margin: 0;
}

#project-list {
    max-width: 100%;
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.project-listing {
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 100%;
}

.project-listing > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.project-listing ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.project-listing ul li {
    margin: 0 8px;
}


.project-listing img {
    max-width: 100%;
    max-height: 300px;
}

.project-listing p {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    #profile-picture {
        margin: 16px auto;
    }
}

@media only screen and (min-width: 769px) {
    body {
        width: 100%;
    }

    .container {
        max-width: 900px;
        margin: 1em auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "about image"
            "projects projects"
            "links links"
            "footer footer";
        grid-gap: 10px;
    }

    .container > * {
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }

    #profile-picture {
        grid-area: image;
        max-width: 100%;
    }

    #about {
        grid-area: about;
    }

    #projects {
        grid-area: projects;
    }

    #links {
        grid-area: links;
    }

    footer {
        grid-area: footer;
        box-shadow: none !important
    }

    #project-list {
        flex-direction: row;
    }

    .project-listing {
        width: 421px;
        margin: 8px;
    }
}